* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.App {
  padding: 10px;
}

.nav ul {
  list-style-type: none;
  display: flex;
}

.nav ul li {
  margin-right: 5px;
}

.active {
  color: #fc0;
}