* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.foo {
  padding: 20px;
}

.active {
	color:red;
}

.nav {
	padding: 16px;
	display: flex;
}

.nav li {
	margin-right: 15px;
	list-style-type: none;
}
